{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ movie.title }}</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Back to Home</a>
        <h1>{{ movie.title }}</h1>
    </header>
    <main>
        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" class="movie-poster">
        <p><strong>Genre:</strong> {{ movie.genre }}</p>
        <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
        <p><strong>Rating:</strong> {{ movie.rating }}</p>
        <p>{{ movie.description }}</p>
    </main>
</body>
</html>