{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Netflix</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="start-page">
    <div class="menu">
        <a href="{% url 'home' %}" class="menu-item">Home</a>
        <a href="{% url 'playlist' %}" class="menu-item">My List</a>
        <a href="{% url 'search-movies' %}" class="menu-item">Search</a>
        <a href="{% url 'series' %}" class="menu-item">Series</a> <!-- Ensure this matches the 'series' URL name -->
    </div>
</body>
</html>